/* Background color used in the 'home', 'skills', and 'contact' sections */
html {
    background: #000029;
}

body {
    margin: 0;
}

/* Applies to each section */
.segment {
    padding: 0 1vw;
    margin: auto 0;
}
/* The h2 header of each section */
.title {
    color: white;
    text-align: center;
    font-size: 5vw;
}

/* The navigation bar */
.navbar {
    width: 100%;
    /* It does not movve when the page is scrolled */
    position: fixed;
    padding: 1vw 0;
    background: #252d53;
    font: Arial;
    /* Set to the highest position order of any attribute on this website */
    z-index: 1;
}
/* Applies to the elements in the navbar section */
.navbar .segment {
    /* Sets the introduction and the list of navigation links on the same line */
    display: flex;
    /* Vertically center the introduction within the navigation bar */ 
    align-items: center;
    /* Separates the introduction and list of navigation links on opposite ends of the navigaiton bar */
    justify-content: space-between;
    margin: 0 auto;
}
/* The introduction part of the navigation bar: 'Welcome to my Portfolio */
.navbar .intro a {
    color: white;
    font-size: 3vw;
    font-weight: 600;
}
/* The word 'Portfolio' of the introduction */
.navbar .intro a span {
    color: red;
}
/* The navigaiton links */
.navbar .menu-1 li {
    display: inline-block;
}
/* The navigation links for portrait orientation are hidden in landscape orientation*/
.navbar .menu-2 {
    position: absolute;
    color: transparent;
    display: none;
    z-index: -1;
}
.navbar .menu-1 li a {
    color: white;
    text-decoration: none;
    font-size: 1.8vw;
    margin-right: 1.8vw;
}
/* Change the text color of each navigation link when the mouse hovers over them */
/*.navbar .menu-1 li a:hover {
    color: red;
    text-decoration: none;
}*/

/* home section styling */
.home {
    display: flex;
    height: 100vh;
    color: #fff;
    font: Verdana;
}
.home .segment {
    margin: auto;
}
.home .home-text {
    text-align: center;
}
.home .home-text .text-1 {
    color: white;
    font-size: 2vw;
}
.home .home-text .text-2 {
    color: white;
    font-size: 6vw;
    font-weight: 550;
    margin: 1.7vw 0;
}
.home .home-text .text-3 {
    color: white;
    font-size: 2.5vw;
}
.home .home-text .text-3 span { 
    color: red;
    font-weight: 550;   
}
.home-icons {
    text-align: center;
    margin-top: 7vw;
}
.home img {
    width: 3vw;
    height: 3vw;
    margin: 0 4vw;
    transition: .5s;
}

/* about section styling */
.about {
    margin-bottom: 6vw;
    background-color: #000e3b;
    padding-top: .7vw;
    padding-bottom: 5vw;
}
.about .segment {
    margin: 0 auto;
}
.about .about-image-text {
    display: flex;
    width: 100%;
}
.about .left-column {
    width: 35vw;
    text-align: end;
    padding-right: 1.5vw;
}
.about .left-column img {
    height: 20vw;
    width: 20vw;
    margin-top: 1.5vw;
}
.about .right-column {
    width: 90vw;
    margin-right: 8vw;
}
.about .text {
    color: white;
    font: Verdana;
}
.about .right-column .text-1 {
    color: rgba(255, 255, 255, 0.87);
    font: Verdana;
    font-size: 1.8vw;
    line-height: 2.7vw;
    margin-top: 1vw;
    margin-bottom: .9vw;
}
.about .right-column .text-1 li {
    margin-bottom: 2.7vw;
}
.dates{
    color: rgba(255, 255, 255, 0.568);
}
.about .right-column .text-3 {
    color: rgba(255, 255, 255, 0.87);
    font: Verdana;
    font-size: 1.8vw;
    line-height: 2.7vw;
    margin-top: 0.6vw;
    margin-bottom: .9vw;
}
.about .about-image-text .right-column .text span {
    color: red;
}
.about .about-image-text .right-column p {
    text-align: justify;
}
.about .about-image-text .right-column a {
    display: inline-block;
    text-decoration: none;
    background: red;
    color: #fff;
    font-size: 1.8vw;
    font-weight: 500;
    padding: .6vw 1.5vw;
    margin-top: 2vw;
    border-radius: .5vw;
    border: 0.1vw solid red;
    transition: all 0.3s ease;
}
.about .about-image-text .right-column a:hover {
    color: red;
    text-decoration: none;
    background: none;
}

/* skills section styling */
.skills {
    margin-bottom: 7vw;
}
.skills .segment {
    margin: 0 auto;
}
.skills .skills-list {
    display: flex;
    justify-content: space-between;
}
.skills .skills-list .skills-list-front:hover {
    background: black;
    width: 30%;
    border-radius: 1vw;
    transition: 0.2s;
}
.skills .skills-list .skills-list-back:hover {
    background: black;
    width: 30%;
    border-radius: 1vw;
    transition: 0.2s;
}
.skills .skills-list .skills-list-dbms:hover {
    background: black;
    width: 29%;
    border-radius: 1vw;
    transition: 0.2s;
}
.skills .skills-list h3 {
    color: white;
    font-style: serif;
    font-size: 2.5vw;
    text-decoration: underline;
    text-underline-offset: 1.4vw;
    text-decoration-thickness: 0.7vw;
    text-decoration-color: red;
}
.skills .skills-list li {
    color: rgb(197, 197, 197);
    font-style: proxima nova;
    font-size: 1.8vw;
    font-weight: 600;
    margin: 4vw; 
    text-align: center;
    text-decoration: none;
    list-style-type: none;
}
.skills .skills-list {
    padding: 0 5vw;
    text-align: center;
}

/* projects section styling */
.projects {
    text-align: center;
    background-color: #000e3b;
    padding-top: 4vw;
    padding-bottom: 2vw;
}
.project-1 {
    height: 40vw;
    width: 78.36vw;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 9vw;
    border: 0.3vw solid rgb(56, 80, 80);
}
.project-2 {
    height: 40vw;
    width: 78.36vw;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5vw;
    margin-bottom: 5vw;
    border: 0.19vw solid rgb(74, 87, 87);
}
#project-omedocs {
    height: 40vw;
    width: 78.36vw;
    left: 0;
    position: absolute;
    /* Transition for hover off */
    transition: 1s;
}
#project-movie-search-engine {
    height: 40vw;
    width: 78.36vw;
    left: 0;
    position: absolute;
    /* Transition for hover off */
    transition: 1s;
}
.project-text-container-1 {
    position: absolute;
    color: white;
    height: 80%;
    width: 80%;
    top: 10%;
    left: 10%;
    display: flex;
    align-items:center;
    justify-content:center;
    color: black;
    visibility: hidden;
}
.project-text-container-2 {
    position: absolute;
    color: white;
    height: 80%;
    width: 80%;
    top: 10%;
    left: 10%;
    display: flex;
    align-items:center;
    justify-content:center;
    color: black;
    visibility: hidden;
}
.projects h2 {
    margin-top: 0;
    margin-bottom: 2vw;
    color: white;
}
.projects .title {
    font-size: 5vw;
}
.project-text-1 h2 {
    font-size: 4vw;
    font-weight: bold;
}
.project-text-2 h2 {
    font-size: 4vw;
    font-weight: bold;
}
.projects h3 {
    font-size: 1.8vw;
    margin-bottom: 2.5vw;
    line-height: 3vw;
    color: rgba(255, 255, 255, 0.815);
}
.projects .paragraph-1 {
    font-size: 2.1vw;
    text-align: left;
    line-height: 3vw;
    color: white;
    margin-bottom: 3vw;
}
.projects .paragraph-2 {
    position: absolute;
    color: transparent;
    display: none;
    z-index: -1;
}
.project-1-links {
    display: flex;
    align-items: center;
}
.project-2-links {
    display: flex;
    align-items: center;
}
.project-1 #github {
    width: 2.5vw;
    height: 2.5vw;
    margin-right: 2.5vw;
    transition: .5s;
}
.project-2 #github {
    width: 2.5vw;
    height: 2.5vw;
    margin-right: 2.5vw;
    transition: .5s;
}
.project-link-text-1 {
    font-size: 2vw;
    font-weight: bold;
    color: rgba(135, 206, 250, 0.733);
    transition: .5s;
}
.project-link-text-1:hover {
    font-size: 2.5vw;
    color: rgba(135, 206, 250, 0.733);
    text-shadow: black 0.2rem 0.2rem 0.2rem;
    transition: .5s;
}
.project-1 a {
    text-decoration-color: rgba(135, 206, 250, 0.733);
}
.project-2 a {
    text-decoration-color: rgba(135, 206, 250, 0.733);
}

/* contact section styling */
.contact {
    margin-top: 7vw;
}
.contact .segment {
    margin: 0 auto;
}
.contact-info {
    display: flex;
    margin: 0 auto;
}
.contact .left-column {
    width: 50%;
    padding-left: 2vw;
}
.contact .right-column {
    width: 80%;
}
.contact .name {
    display: flex;
    margin-top: 2.5vw;
}
.contact .email {
    display: flex;
}
.contact .text {
    color: white;
    font-size: 3vw;
    font-weight: 600;
    margin: 2vw 0;
}
.contact .head {
    color: white;
    font-size: 2vw;
    font-weight: 600;
}
.contact .sub-title {
    color: white;
    font-size: 2vw;
    margin-top: 1vw;
    margin-bottom: 6vw;
}
.contact .form-name-email {
    display: flex;
}
.contact .form-name {
    width: 100%;
}
.contact .form-email {
    width: 100%;
}
.contact .form-name input {
    width: 94%;
    font-size: 1.8vw;
    padding: 0.4vw;
    border: 0.3vw solid rgb(61, 102, 102);
    border-radius: 1vw;
}
.contact .form-email input {
    width: 94%;
    font-size: 1.8vw;
    padding: 0.4vw;
    border: 0.3vw solid rgb(61, 102, 102);
    border-radius: 1vw;
}
.contact .form-subject input {
    font-size: 1.8vw;
    padding: 0.4vw;
    width: 97%;
    margin: 0.7rem 0;
    border: 0.3vw solid rgb(61, 102, 102);
    border-radius: 1vw;
}
.contact .form-message textarea {
    font-size: 1.8vw;
    padding: 0.4vw;
    width: 97%;
    border: 0.3vw solid rgb(61, 102, 102);
    border-radius: 1vw;
}
.contact .button {
    color: #fff;
    font-size: 1.8vw;
    width: 15vw;
    background: red;
    padding: 0.6vw;
    margin-top: 0.5vw;
    margin-top: 1vw;
    margin-bottom: 7vw;
    border: 0.1vw solid red;
    border-radius: 0.5vw;
}

/* Footer */
.footer {
    background-color:rgba(25, 51, 51, 0.733);
    height: 3vw;
}
.footer .segment {
    height: 100%;
}
.copyright {
    color: white;
    font-size: 1.5vw;
    text-align: center;
    padding-top: .5vw;
}

/* Accomodate screens with high aspect ratios (in landscape orientation) */
@media (min-aspect-ratio: 653/350) {
    .home .segment {
        margin: 30vh auto;
    }
    .home-icons {
        text-align: center;
        margin-top: 7vh;
    }
}

/* Media responsive design for portrait orientation */
@media (orientation: portrait) {
    .title {
        font-size: 9vw;
        margin-top: 4vw;
        margin-bottom: 3vw;
    }

    .navbar .segment{
        display: grid;
        justify-content: center;
    }
    .navbar .intro a {
        font-size: 9vw;
    }
    .navbar .menu-2 {
        display: block;
        position: relative;
        padding-left: 0;
        z-index: 1;
        margin-bottom: 3vw;
    }
    .navbar .menu-2 li {
        display: inline-block;
    }
    .navbar .menu-2 li a {
        font-size: 5vw;
        margin-left: 2.5vw;
        margin-right: 2.5vw;
        color: white;
        text-decoration: none;
    }
    .navbar .menu-1{
        position: absolute;
        color: transparent;
        display: none;
        z-index: -1;
    }

    .home {
        height: 95vw;
    }
    .home .segment {
        margin-top: 34vw;
    }
    .home .home-text .text-1 {
        font-size: 5vw;
    }
    .home .home-text .text-2 {
        font-size: 9vw;
        margin: 5vw 0;
    }
    .home .home-text .text-3 {
        font-size: 5.5vw;
    }
    .home img {
        width: 7vw;
        height: 7vw;
        margin: 0 8vw;
    }
    .home #linkedin:hover {
        width: 7vw;
        height: 7vw;
        margin: 0 8vw;
    }
    .home #github:hover {
        width: 7vw;
        height: 7vw;
        margin: 0 8vw;
    }

    .about .about-image-text{
        display: grid;
        justify-content: center;   
    }
    .about .left-column {
        width: 100%;
        text-align: center;
        padding-right: 0;
    }
    .about .left-column img {
        height: 40vw;
        width: 40vw;
    }
    .about .right-column .text-1 {
        font-size: 5vw;
        line-height: 7vw;
        margin-top: 1vw;
        margin-bottom: 2vw;
    }
    .about .right-column .text-1 li {
        margin-bottom: 7vw;
    }
    .about .right-column .text-3 {
        font-size: 5vw;
        line-height: 7vw;
        margin-left: 3vw;
        margin-bottom: 2vw;
    }
    .about .about-image-text .right-column a {
        font-size: 5vw;
        margin-left: 3vw;
        margin-bottom: 4vw;
        padding: 1vw 3vw;
        border-radius: 1vw;
    }

    .skills .skills-list {
        text-align: center;
        padding: 0;
    }
    .skills .skills-list h3 {
        text-decoration: none;
        font-size: 5vw;
        margin-top: 1vw;
        margin-bottom: 7vw;        
    }
    .skills-list span::before {
        content: "\A";
        white-space: pre;
    }
    .skills-list span {
        margin-top: 8vw;
        text-decoration: underline;
        text-underline-offset: 3vw;
        text-decoration-thickness: 2vw;
        text-decoration-color: red;
    }
    .skills .skills-list li {
        font-size: 4.5vw;
    }
    .skills .skills-list .dbms::before{
        content: "\A";
        white-space: pre;
    }
    .skills .skills-list .dbms {
        text-decoration: underline;
        text-underline-offset: 3vw;
        text-decoration-thickness: 2vw;
        text-decoration-color: red;
    }
    .skills .skills-list .skills-list-front:hover {
        width: 34%;
    }
    .skills .skills-list .skills-list-back:hover {
        width: 34%;
    }
    .skills .skills-list .skills-list-dbms:hover {
        width: 34%;
    }

    .projects .title {
        font-size: 9vw;
        margin-top: 2vw;
        margin-bottom: 3vw;
    }
    .project-1 {
        height: 45vw;
        width: 88.155vw;
    }
    .project-2 {
        height: 45vw;
        width: 88.155vw;
    }
    #project-omedocs {
        height: 45vw;
        width: 88.155vw;
    }
    #project-movie-search-engine {
        height: 45vw;
        width: 88.155vw;
    }
    .project-text-1 h2 {
        font-size: 7vw;
    }
    .project-text-2 h2 {
        font-size: 7vw;
    }
    .projects h3 {
        font-size: 3.3vw;
        margin-bottom: 2.5vw;
        line-height: 4vw;
    }
    .projects .paragraph-1 {
        position: absolute;
        color: transparent;
        display: none;
        z-index: -1;
    }
    .projects .paragraph-2 {
        display: block;
        position: static;
        text-align: center;
        font-size: 5vw;
        line-height: 5vw;
        color: white;
        margin-bottom: 5vw;
    }
    .project-1 #github {
        width: 5vw;
        height: 5vw;
        margin-right: 5vw;
    }
    .project-2 #github {
        width: 5vw;
        height: 5vw;
    }
    .project-1 #github:hover {
        width: 5vw;
        height: 5vw;
        margin-right: 5vw;
    }
    .project-2 #github:hover {
        width: 5vw;
        height: 5vw;
    }
    .project-link-text-1 {
        font-size: 4.3vw;
    }
    .project-link-text-1:hover {
        font-size: 4.3vw;
        text-shadow: none;
    }

    .contact .text {
        font-size: 6vw;
    }
    .contact .right-column {
        width: 46%;
    }
    .contact .head {
        font-size: 5vw;
    }
    .contact .sub-title {
        color: white;
        font-size: 5vw;
        margin-top: 1vw;
        margin-bottom: 6vw;
    }
    .contact .sub-title span::before{
        content: "\A";
        white-space: pre;
    }
    .contact .form-name {
        margin-bottom: 3vw;
    }
    .contact .form-name-email {
        display: grid;
        justify-content: center;    
    }
    .contact .form-name input {
        font-size: 5vw;
        width: 100%;
    }
    .contact .form-email input {
        font-size: 5vw;
        width: 100%;
    }
    .contact .form-subject input {
        font-size: 5vw;
        width: 100%;
    }
    .contact .form-message textarea {
        font-size: 5vw;
        width: 100%;
    }
    .contact .button {
        display: flex;
        margin-right: auto;
        margin-left: auto;
        font-size: 5vw;
        width: 41vw;
        padding: 1vw 3vw;
        border-radius: 1vw;
    }

    .footer {
        height: 6vw;
    }
    .copyright {
        font-size: 3.5vw;
        padding-top: 0.8vw;
    }
}

/* Accomodate screens with high aspect ratios (in portrait orientation) */
@media (max-aspect-ratio: 306/653) {
    .navbar .menu-2 li a {
        font-size: 4.88vw;
    }
}
