html{
    background: #000029;
}
body{
    margin: 0;
}

/* each section */
.segment{
    padding: 0 3vh;
    margin: auto 0;
}
.title{
    color: white;
    text-align: center;
    font-size: 4rem;
}

/* navbar */
.navbar{
    width: 100%;
    position: fixed;
    padding: 1.3rem 0;
    background: #000083;
    font: Arial;
    z-index: 1;
}
.navbar .segment{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
}
.navbar .intro a{
    color: white;
    font-size: 2.8rem;
    font-weight: 600;
}
.navbar .intro a span{
    color: red;
}
.navbar .menu li{
    display: inline-block;
}
.navbar .menu li a{
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    margin-right: 2rem;
}
.navbar .menu li a:hover{
    color: red;
    text-decoration: none;
}

/* home section styling */
.home{
    display: flex;
    height: 100vh;
    color: #fff;
    font: Verdana;
}
.home .segment{
    margin: auto;
}
.home .home-text{
    text-align: center;
}
.home .home-text .text-1{
    color: white;
    font-size: 3.5vh;
}
.home .home-text .text-2{
    color: white;
    font-size: 9vh;
    font-weight: 550;
    margin: 2.3vh 0;
}
.home .home-text .text-3{
    color: white;
    font-size: 4.5vh;
}
.home .home-text .text-3 span{ 
    color: red;
    font-weight: 550;   
}
.home-icons{
    text-align: center;
    margin-top: 10vh;
}
.home img{
    width: 1.6rem;
    height: 1.6rem;
    margin: 0 1.5rem;
    transition: .5s;
}
.home #linkedin:hover{
    width: 2.5rem; 
    height: 2.5rem; 
    transition: .5s;
}
.home #github:hover{
    width: 2.5rem; 
    height: 2.5rem; 
    transition: .5s;
}

/* about section styling */
.about{
    margin-bottom: 10vh;
    background-color: #00003b;
    padding-top: 1vh;
    padding-bottom: 10vh;
}
.about .segment{
    margin: 0 auto;
}
.about .about-image-text{
    display: flex;
    width: 100%;
}
.about .left-column{
    width: 40%;
    text-align: end;
    padding-right: 2rem;
}
.about .left-column img{
    height: 32vh;
    width: 32vh;
    margin-top: 2.5vh;
}
.about .right-column{
    width: 100%;
    margin-right: 15vh;
}
.about .text{
    color: white;
    font: Verdana;
    font-size: 2vh;
    line-height: 3.5rem;
    margin-bottom: 1vh;
}
.about .right-column .text-1{
    color: rgba(255, 255, 255, 0.87);
    font: Verdana;
    font-size: 2.5vh;
    line-height: 2.6rem;
    margin-bottom: 1.8rem;
}
.dates{
    color: rgba(255, 255, 255, 0.568);
}
.about .right-column .text-3{
    color: rgba(255, 255, 255, 0.87);
    font: Verdana;
    font-size: 2.5vh;
    line-height: 2.6rem;
    margin-top: 0.5vh;
    margin-bottom: 1rem;
}
/*.about .right-column .text-2{
    color: rgba(255, 255, 255, 0.87);
    font: Verdana;
    font-size: 2.3vh;
    line-height: 2.6rem;
    margin-bottom: 1.8rem;
}
.about .right-column .text-3{
    color: rgba(255, 255, 255, 0.87);
    font: Verdana;
    font-size: 2.3vh;
    line-height: 2.6rem;
    margin-bottom: 1.8rem;
}*/
.about .about-image-text .right-column .text span{
    color: red;
}
.about .about-image-text .right-column p{
    text-align: justify;
}
.about .about-image-text .right-column a{
    display: inline-block;
    text-decoration: none;
    background: red;
    color: #fff;
    font-size: 2.3vh;
    font-weight: 500;
    padding: 1.1vh 3.3vh;
    margin-top: 2.3vh;
    border-radius: 0.7vh;
    border: 0.3vh solid red;
    transition: all 0.3s ease;
}
.about .about-image-text .right-column a:hover{
    color: red;
    text-decoration: none;
    background: none;
}

/* skills section styling */
.skills{
    margin-bottom: 10vh;
}
.skills .segment{
    margin: 0 auto;
}
.skills .skills-list{
    display: flex;
    justify-content: space-between;
}
.skills .skills-list .skills-list-front:hover{
    background: black;
    width: 30%;
    border-radius: 1rem;
    transition: 0.2s;
}
.skills .skills-list .skills-list-back:hover{
    background: black;
    width: 30%;
    border-radius: 1rem;
    transition: 0.2s;
}
.skills .skills-list .skills-list-dbms:hover{
    background: black;
    width: 20%;
    border-radius: 1rem;
    transition: 0.2s;
}
.skills .skills-list h3{
    color: white;
    font-style: serif;
    font-size: 2rem;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-thickness: 0.5rem;
    text-decoration-color: red;
}
.skills .skills-list li{
    color: rgb(197, 197, 197);
    font-style: proxima nova;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 4.6vh; 
    text-align: center;
    text-decoration: none;
    list-style-type: none;
}
.skills .skills-list{
    padding: 0 20vh;
    text-align: center;
}

/* projects section styling */
.projects{
    text-align: center;
    background-color: #00003b;
    padding-top: 7vh;
    padding-bottom: 3vh;
}
.project-1{
    height: 70vh;
    width: 137.13vh;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3vh;
    border: 0.3rem solid rgb(56, 80, 80);
}
.project-2{
    height: 70vh;
    width: 137.13vh;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border: 0.19rem solid rgb(74, 87, 87);
}
#project-omedocs{
    height: 70vh;
    width: 137.13vh;
    left: 0;
    position: absolute;
    /* Transition for hover off */
    transition: 1s;
}
#project-movie-search-engine{
    height: 70vh;
    width: 137.13vh;
    left: 0;
    position: absolute;
    /* Transition for hover off */
    transition: 1s;
}
.project-text-container-1{
    position: absolute;
    color: white;
    height: 80%;
    width: 80%;
    top: 10%;
    left: 10%;
    display: flex;
    align-items:center;
    justify-content:center;
    color: black;
    visibility: hidden;
}
.project-text-container-2{
    position: absolute;
    color: white;
    height: 80%;
    width: 80%;
    top: 10%;
    left: 10%;
    display: flex;
    align-items:center;
    justify-content:center;
    color: black;
    visibility: hidden;
}
.projects h2{
    font-size: 3.2rem;
    margin-top: 0;
    margin-bottom: 2rem;
    color: white;
}
.project-text-1 h2{
    font-weight: bold;
    font-style: italic;
}
.project-text-2 h2{
    font-weight: bold;
    font-style: italic;
}
.projects h3{
    font-size: 1.5rem;
    margin-bottom: 2rem;
    line-height: 2.5rem;
    color: rgba(255, 255, 255, 0.815);
}
.projects .paragraph-1{
    font-size: 1.4rem;
    text-align: left;
    line-height: 2rem;
    color: white;
}
.projects .paragraph-2{
    position: absolute;
    color: transparent;
}
.project-1-links{
    display: flex;
    align-items: center;
}
.project-2-links{
    display: flex;
    align-items: center;
}
.project-1 #github{
    width: 2rem;
    height: 2rem;
    margin-right: 2rem;
    transition: .5s;
}
.project-1 #github:hover{
    width: 2.6rem;
    height: 2.6rem;
    margin-right: 2rem;
    transition: .5s;
}
.project-2 #github{
    width: 2rem;
    height: 2rem;
    margin-right: 2rem;
    transition: .5s;
}
.project-2 #github:hover{
    width: 2.6rem;
    height: 2.6rem;
    margin-right: 2rem;
    transition: .5s;
}
.project-link-text-1{
    font-size: 1.6rem;
    font-weight: bold;
    color: rgba(135, 206, 250, 0.733);
    transition: .5s;
}
.project-link-text-1:hover{
    font-size: 1.9rem;
    color: rgba(135, 206, 250, 0.733);
    text-shadow: black 0.2rem 0.2rem 0.2rem;
    transition: .5s;
}
.project-1 a{
    text-decoration-color: rgba(135, 206, 250, 0.733);
}
.project-2 a{
    text-decoration-color: rgba(135, 206, 250, 0.733);
}

/* contact section styling */
.contact{
    margin-top: 10vh;
}
.contact .segment{
    margin: 0 auto;
}
.contact-info{
    display: flex;
    margin: 0 auto;
}
.contact .left-column{
    width: 50%;
    padding-left: 20vh;
}
.contact .right-column{
    width: 80%;
}
.contact .name{
    display: flex;
    margin-top: 3vh;
}
.contact .email{
    display: flex;
}
.contact .text{
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    margin: 2vh 0;
}
.contact .head{
    color: white;
    font-size: 1.5rem;;
    font-weight: 600;
}
.contact .sub-title{
    color: white;
    font-size: 1.5rem;
    margin-top: 1vh;
    margin-bottom: 8vh;
}
.contact .form-name-email{
    display: flex;
}
.contact .form-name{
    width: 100%;
}
.contact .form-email{
    width: 100%;
}
.contact .form-name input{
    width: 94%;
    font-size: 1.3rem;
    padding: 0.3rem;
    border: 0.19rem solid rgb(61, 102, 102);
    border-radius: 0.5rem;
}
.contact .form-email input{
    width: 94%;
    font-size: 1.3rem;
    padding: 0.3rem;
    border: 0.19rem solid rgb(61, 102, 102);
    border-radius: 0.5rem;
}
.contact .form-subject input{
    font-size: 1.3rem;
    padding: 0.3rem;
    width: 97%;
    margin: 0.7rem 0;
    border: 0.19rem solid rgb(61, 102, 102);
    border-radius: 0.5rem;
}
.contact .form-message textarea{
    font-size: 1.3rem;
    padding: 0.3rem;
    width: 97%;
    border: 0.19rem solid rgb(61, 102, 102);
    border-radius: 0.5rem;
}
.contact .button{
    color: white;
    font: sans-serif;
    font-size: 1.3rem;
    width: 11rem;
    background-color: red;
    padding: 0.8vh;
    margin-top: 0.5vh;
    margin-top: 1vh;
    margin-bottom: 12vh;
    border: 0.1vh solid red;
    border-radius: 0.5vh;
}
.contact .button:hover{
    background-color: #131325;
    color: red;
}

/* Footer */
.footer{
    background-color:rgba(25, 51, 51, 0.733);
    height: 4vh;
}
.footer .segment{
    height: 100%;
}
.copyright{
    color: white;
    font-size: 1.2rem;
    text-align: center;
    padding-top: 0.9vh;
}


/* Responsive media query */
@media (max-width: 1210px) and (orientation: landscape) {
    .navbar .intro a{
        font-size: 6vh;
    }
    .navbar .menu{
        margin-top: 4vh;
    }

    .about .text{
        position: absolute;
    }
    .about .right-column .text-1{
        font-size: 3.5vh;
        margin-top: 0.5vh;
        margin-bottom: 1.8rem;
    }
    .about .right-column .text-3{
        font-size: 3.5vh;
        margin-top: 0.5vh;
        margin-bottom: 1rem;
    }
    .about .about-image-text .right-column a{
        font-size: 3.5vh;
    }

    /* skills section */
    .skills .skills-list h3{
        text-decoration: none;
    }
    .skills-list span::before{
        content: "\A";
        white-space: pre;
    }
    .skills-list span{
        margin-top: 10vh;
        text-decoration: underline;
        text-underline-offset: 1rem;
        text-decoration-thickness: 0.5rem;
        text-decoration-color: red;
    }
    .skills .skills-list .dbms::before{
        content: "\A";
        white-space: pre;
    }
    .skills .skills-list .dbms{
        text-decoration: underline;
        text-underline-offset: 1rem;
        text-decoration-thickness: 0.5rem;
        text-decoration-color: red;
    }

    /* Footer */
    .footer{
        height: 5.5vh;
    }
    .copyright{
        font-size: 2.5vh;
        padding-top: 0.9vh;
    }
}
@media (max-width: 1031px) and (orientation: landscape) {
    .navbar .menu li a{
        margin-right: 1rem;
    }
    .navbar{
        width: 100%;
    }
    .navbar .intro a{
        font-size: 6vh;
    }
    .navbar .menu{
        margin-top: 4vh;
    }

    /* home */
    .home-icons{
        margin-top: 5vh;
    }
    .home .home-text .text-1{
        margin-top: 15vh;
        font-size: 4.67vh;
    }
    .home .home-text .text-2{
        font-size: 12vh;
        margin-top: 5vh;
    }
    .home .home-text .text-3{
        font-size: 6vh;
    }

    /* about */
    .about .left-column{
        padding-right: 1rem;
    }
    .about .left-column img{
        height: 42vh;
        width: 42vh;
    }
    .about .right-column .text-1{
        font-size: 4vh;
        margin-top: 0.5vh;
        margin-bottom: 1.8rem;
    }
    .about .right-column .text-3{
        font-size: 4vh;
        margin-top: 0.5vh;
        margin-bottom: 1rem;
    }
    .about .about-image-text .right-column a{
        font-size: 4vh;
    }
    
    .contact .left-column{
        padding-left: 0vh;
    }
    .home .home-text .text-1{
        margin-top: 10vh;
    }

    /* Footer */
    .footer{
        height: 7vh;
    }
    .copyright{
        font-size: 3vh;
        padding-top: 1vh;
    }
}
@media (max-width: 995px) and (orientation: landscape) {
    .navbar .menu li a{
        margin-right: 1rem;
    }
    .navbar{
        width: 100%;
    }
    .navbar .intro a{
        font-size: 6vh;
    }
    .navbar .menu{
        margin-top: 4vh;
    }

    /* home */
    .home-icons{
        margin-top: 5vh;
    }
    .home .home-text .text-1{
        margin-top: 15vh;
        font-size: 4.67vh;
    }
    .home .home-text .text-2{
        font-size: 12vh;
        margin-top: 5vh;
    }
    .home .home-text .text-3{
        font-size: 6vh;
    }

    /* about */
    .about .left-column{
        padding-right: 1rem;
    }
    .about .left-column img{
        height: 42vh;
        width: 42vh;
    }
    .about .right-column .text-1{
        font-size: 4vh;
        margin-top: 0.5vh;
        margin-bottom: 1.8rem;
    }
    .about .right-column .text-3{
        font-size: 4vh;
        margin-top: 0.5vh;
        margin-bottom: 1rem;
    }
    .about .about-image-text .right-column a{
        font-size: 4vh;
    }

    /* Footer */
    .footer{
        height: 7vh;
    }
    .copyright{
        font-size: 3vh;
        padding-top: 1.2vh;
    }
}
@media (max-width: 977px) and (orientation: landscape) {
    .navbar{
        width: 100%;
    }
    .navbar .intro a{
        font-size: 6vh;
    }
    .navbar .menu{
        margin-top: 4vh;
    }

    /* home */
    .home-icons{
        margin-top: 5vh;
    }
    .home .home-text .text-1{
        margin-top: 15vh;
        font-size: 4.67vh;
    }
    .home .home-text .text-2{
        font-size: 12vh;
        margin-top: 5vh;
    }
    .home .home-text .text-3{
        font-size: 6vh;
    }

    /* about */
    .about .left-column{
        padding-right: 1rem;
    }
    .about .left-column img{
        height: 42vh;
        width: 42vh;
    }
    .about .right-column .text-1{
        font-size: 4vh;
        margin-top: 0.5vh;
        margin-bottom: 1.8rem;
    }
    .about .right-column .text-3{
        font-size: 4vh;
        margin-top: 0.5vh;
        margin-bottom: 1rem;
    }
    .about .about-image-text .right-column a{
        font-size: 4vh;
    }

    /* contact */
    .contact .left-column{
        padding-left: 0vh;
    }

    /* Footer */
    .footer{
        height: 7vh;
    }
    .copyright{
        font-size: 3vh;
        padding-top: 1.2vh;
    }
}
@media (max-width: 950px) and (orientation: landscape) {
    .navbar{
        width: 100%;
    }
    .navbar .intro a{
        font-size: 6vh;
    }
    .navbar .menu{
        margin-top: 4vh;
    }

    /* home */
    .home-icons{
        margin-top: 5vh;
    }
    .home .home-text .text-1{
        margin-top: 15vh;
        font-size: 4.67vh;
    }
    .home .home-text .text-2{
        font-size: 12vh;
        margin-top: 5vh;
    }
    .home .home-text .text-3{
        font-size: 6vh;
    }

    /* about */
    .about .left-column{
        padding-right: 1rem;
    }
    .about .left-column img{
        height: 42vh;
        width: 42vh;
    }
    .about .right-column .text-1{
        font-size: 4.2vh;
        margin-top: 0.5vh;
        margin-bottom: 1.8rem;
    }
    .about .right-column .text-3{
        font-size: 4.2vh;
        margin-top: 0.5vh;
        margin-bottom: 1rem;
    }
    .about .about-image-text .right-column a{
        font-size: 4.2vh;
    }

    /* Footer */
    .footer{
        height: 8vh;
    }
    .copyright{
        font-size: 3.5vh;
        padding-top: 1.3vh;
    }
}
@media (max-width: 871px) and (orientation: landscape) {
    .navbar .segment{
        display: grid;
        justify-content: center;    
    }
    .navbar .intro a{
        font-size: 8vh;
    }
    .navbar .menu{
        margin-top: 5vh;
        margin-bottom: auto;
    }

    /* home */
    .home-icons{
        margin-top: 5vh;
    }
    .home .home-text .text-1{
        margin-top: 15vh;
        font-size: 4.67vh;
    }
    .home .home-text .text-2{
        font-size: 12vh;
        margin-top: 5vh;
    }
    .home .home-text .text-3{
        font-size: 6vh;
    }

    /* about */
    .about .left-column{
        padding-right: 1rem;
    }
    .about .left-column img{
        height: 42vh;
        width: 42vh;
    }
    .about .right-column .text-1{
        font-size: 4.5vh;
        margin-top: 0.5vh;
        margin-bottom: 1.8rem;
    }
    .about .right-column .text-3{
        font-size: 4.5vh;
        margin-top: 0.5vh;
        margin-bottom: 1rem;
    }
    .about .about-image-text .right-column a{
        font-size: 4.5vh;
    }

    /* Footer */
    .footer{
        height: 9vh;
    }
    .copyright{
        font-size: 4vh;
        padding-top: 1.7vh;
    }
}


@media (min-width: 730px) and (orientation: portrait) {
    /* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
    */
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    /* End of CSS reset */

    
    /* navbar */
    .navbar .segment{
        display: grid;
        justify-content: center;    
    }
    .navbar .intro a{
        font-size: 5vh;
    }
    .navbar .menu{
        margin-top: 3vh;
        margin-bottom: auto;
    }
    .navbar .menu li a{
        font-size: 2vh;
    }
    
    /* home section styling */
    .home{
        height: 50vh;
    }
    .home .segment{
        margin-top: 18vh;
        margin-bottom: 0;
    }
    .home .home-text .text-1{
        font-size: 2vh;
    }
    .home .home-text .text-2{
        font-size: 6vh;
        font-weight: 550;
        margin: 2.3vh 0;
    }
    .home .home-text .text-3{
        font-size: 3vh;
    }
    .home-icons{
        margin-top: 5vh;
    }
    .home #linkedin:hover{
        width: 1.6rem;
        height: 1.6rem;
        margin: 0 1.5rem;
    }
    .home #github:hover{
        width: 1.6rem;
        height: 1.6rem;
        margin: 0 1.5rem;
    }
    
    /* about section styling */
    .about{
        padding-top: 2vh;
        padding-bottom: 4vh;
        margin-bottom: 4vh;
    }
    .about .right-column{
        margin-right: 0;
    }
    .about .about-image-text{
        display: grid;
        justify-content: center;   
    }
    .about .left-column{
        width: 100%;
        text-align: center;
    }
    .about .left-column img{
        text-align: center;
    }
    .about .right-column .text-1{
        font-size: 2vh;
        line-height: 3.2vh;
    }
    .about .right-column .text-1 li{
        margin-bottom: 2.1vh;
    }
    /*.about .right-column .text-2{
        font-size: 2vh;
        line-height: 3.2vh;
        margin-bottom: 2.1vh;
    }*/
    .about .right-column .text-3{
        font-size: 2vh;
        line-height: 3.2vh;
        margin-bottom: 2.1vh;
    }
    .about .about-image-text .right-column a{
        font-size: 2vh;
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 30%;
        padding: 0.8vh 0;
        margin-top: 3vh;
    }
    
    /* skills section styling */
    .skills{
        margin-bottom: 5vh;
    }
    .skills .skills-list{
        margin-top: 4vh;
        padding: 0;
    }
    .skills .skills-list h3{
        text-decoration: none;
    }
    .skills-list span::before{
        content: "\A";
        white-space: pre;
    }
    .skills-list span{
        margin-top: 10vh;
        text-decoration: underline;
        text-underline-offset: 1rem;
        text-decoration-thickness: 0.5rem;
        text-decoration-color: red;
    }
    .skills .skills-list .dbms::before{
        content: "\A";
        white-space: pre;
    }
    .skills .skills-list .dbms{
        text-decoration: underline;
        text-underline-offset: 1rem;
        text-decoration-thickness: 0.5rem;
        text-decoration-color: red;
    }
    .skills .skills-list h3{
        font-size: 2.3rem;
    }
    .skills .skills-list li{
        font-size: 1.8rem;
    }
    
    /* projects section styling */
    .projects{
        padding-top: 4vh;
        margin-top: 0;
        padding-bottom: 0.3vh;
    }
    .project-1{
        height: 30.6vh;
        width: 60vh;
        border: 0.19rem solid rgb(61, 102, 102); 
        border-radius: 0.5rem;
    }
    .project-2{
        height: 30.6vh;
        width: 60vh;
        border: 0.19rem solid rgb(61, 102, 102); 
        border-radius: 0.5rem;
    }
    #project-omedocs{
        height: 30.6vh;
        width: 60vh;
        filter: blur(1vh) brightness(25%);
    }
    #project-movie-search-engine{
        height: 30.6vh;
        width: 60vh;
        filter: blur(1vh) brightness(90%);
    }
    .project-text-container-1{
        visibility: visible; 
        opacity: 1; 
        transition: opacity 1.5s linear;
    }
    .project-text-container-2{
        visibility: visible; 
        opacity: 1; 
        transition: opacity 1.5s linear;
    }
    
    /* contact section styling */
    .contact{
        margin-top: 5vh;    
    }
    .contact .title{
        margin-bottom: 1vh;
    }
    .contact .left-column{
        padding-left: 2vh;
    }
    .contact .button{
        margin-bottom: 7vh;
    }

    /* Footer */
    .copyright{
        font-size: 1.7vh;
        padding-top: 0.9vh;
    }
}
@media (max-width: 730px) and (orientation: portrait) {
        /* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
    */
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    html, body {
        overflow-x: hidden;
    }
    body {
        position: relative;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    /* End of CSS reset */

    /* each section */
    .title{
        font-size: 4vh;
    }
    .segment{
        padding: 0 1.5vh;
    }

    /* navbar */
    .navbar{
        padding: 1.5vh 0;
    }
    .navbar .segment{
        display: grid;
        justify-content: center;    
    }
    .navbar .intro a{
        font-size: 3.8vh;
    }
    .navbar .menu{
        margin-top: 3vh;
        margin-bottom: auto;
        text-align: center;
    }
    .navbar .menu li a{
        font-size: 2.2vh;
        margin-right: 2vh;
    }

    /* home section styling */
    .home{
        height: 42vh;
        margin-bottom: 4vh;
    }
    .home .segment{
        margin-top: 17vh;
        margin-bottom: 0;
    }
    .home .home-text .text-1{
        font-size: 2.5vh;
    }
    .home .home-text .text-2{
        font-size: 4.5vh;
        font-weight: 550;
        margin: 2.3vh 0;
    }
    .home .home-text .text-3{
        font-size: 2.7vh;
    }
    .home-icons{
        margin-top: 3vh;
    }
    .home img{
        width: 2.5vh;
        height: 2.5vh;
        margin: 0 1.5vh;
    }
    .home img:hover{
        width: 2.5vh;
        height: 2.5vh;
        margin: 0 1.5vh;
    }
    .home #linkedin:hover{
        width: 2.5vh;
        height: 2.5vh;
        margin: 0 1.5vh;
    }
    .home #github:hover{
        width: 2.5vh;
        height: 2.5vh;
        margin: 0 1.5vh;
    }

    /* about section styling */
    .about{
        padding-top: 2vh;
        padding-bottom: 3vh;
        margin-bottom: 4vh;
    }
    .about .right-column{
        margin-right: 0;
    }
    .about .about-image-text{
        display: grid;
        justify-content: center;   
    }
    .about .left-column{
        width: 100%;
        text-align: center;
    }
    .about .left-column img{
        text-align: center;
        height: 25vh;
        width: 25vh;
    }
    .about .right-column .text-1{
        font-size: 2.2vh;
        line-height: 3.2vh;
    }
    .about .right-column .text-1 li{
        margin-bottom: 2.1vh;
    }
    .about .right-column .text-3{
        font-size: 2.2vh;
        line-height: 3.2vh;
        margin-bottom: 2.1vh;
    }
    .about .about-image-text .right-column a{
        font-size: 2.2vh;
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 45%;
        padding: 0.8vh 0;
        margin-top: 1vh;
    }

    /* skills section styling */
    .skills{
        margin-bottom: 3vh;
    }
    .skills .skills-list{
        margin-top: 4vh;
        padding: 0;
        width: 100%;
    }
    .skills .skills-list li{
        margin: 4.6vh 0;
    }
    .skills .skills-list .skills-list-front{
        width: 25%;
    }
    .skills .skills-list .skills-list-back{
        width: 25%;
    }
    .skills .skills-list .skills-list-dbms{
        width: 25%;
    }
    .skills-list span::before{
        content: "\A";
        white-space: pre;
    }
    .skills-list span{
        margin-top: 20vh;
        text-decoration: underline;
        text-underline-offset: 1.5vh;
        text-decoration-thickness: 0.5rem;
        text-decoration-color: red;
    }
    .skills .skills-list .dbms::before{
        content: "\A";
        white-space: pre;
    }
    .skills .skills-list .dbms{
        text-decoration: underline;
        text-underline-offset: 1.5vh;
        text-decoration-thickness: 0.5rem;
        text-decoration-color: red;
    }
    .skills .skills-list h3{
        font-size: 2.4vh;
        height: 20%;
        text-decoration: none;
    }
    .skills .skills-list li{
        font-size: 2vh;
        margin: 3vh 0;
    }
    
    /* projects section styling */
    .projects{
        padding-top: 2vh;
        margin-top: 0;
        padding-bottom: 0.3vh;
    }
    .project-1{
        height: 20.4vh;
        width: 40vh;
        margin-top: 1vh;

        border: 0.19rem solid rgb(61, 102, 102); 
        border-radius: 0.5rem;
    }
    .project-1-bonus-info{
        position: absolute;
        color: transparent;
    }
    .project-2{
        height: 20.4vh;
        width: 40vh;
        margin-top: 4vh;
        margin-bottom: 4vh;

        border: 0.19rem solid rgb(61, 102, 102); 
        border-radius: 0.5rem;
    }
    .project-text-container-1{
        visibility: visible; 
        opacity: 1; 
    }
    .project-text-container-2{
        visibility: visible; 
        opacity: 1; 
    }
    #project-omedocs{
        height: 20.4vh;
        width: 40vh;
        filter: blur(1vh) brightness(25%);
    }
    #project-movie-search-engine{
        height: 20.4vh;
        width: 40vh;
        filter: blur(1vh) brightness(90%);
    }
    .projects h2{
        font-size: 4vh;
        margin-top: 0;
        margin-bottom: 1vh;
    }
    .project-text-1 h2{
        font-size: 3vh;
        font-weight: bold;
        font-style: italic;
    }
    .project-text-2 h2{
        font-size: 3vh;
        font-weight: bold;
        font-style: italic;
    }
    .projects h3{
        font-size: 1.9vh;
        margin-bottom: 3vh;
        line-height: 2vh;
        color: rgba(255, 255, 255, 0.815);
    }
    .projects .paragraph-1{
        position: absolute;
        color: transparent;
        z-index: -1;
    }
    .projects .paragraph-2{
        position: static;
        font-size: 2.4vh;
        text-align: left;
        line-height: 2vh;
        color: white;
        margin-bottom: 2.5vh;
        text-align: center;
    }
    .project-1 #github{
        width: 2.5vh;
        height: 2.5vh;
        margin-right: 2.5vh;
    }
    .project-1 #github:hover{
        width: 2.5vh;
        height: 2.5vh;
        margin-right: 2.5vh;
    }
    .project-2 #github{
        width: 2.5vh;
        height: 2.5vh;
        margin-right: 2.5vh;
    }
    .project-2 #github:hover{
        width: 2.5vh;
        height: 2.5vh;
        margin-right: 2.5vh;
    }
    .project-link-text-1{
        font-size: 2vh;
        font-weight: bold;
        color: rgba(135, 206, 250, 0.733);
    }
    .project-link-text-1:hover{
        font-size: 2vh;
        font-weight: bold;
        color: rgba(135, 206, 250, 0.733);
    }

    /* contact section styling */
    .contact{
        margin-top: 3vh;    
    }
    .contact .title{
        margin-bottom: 1vh;
    }
    .contact .left-column{
        padding-left: 0;
    }
    .contact .right-column{
        width: 60%;
    }
    .contact .name{
        display: flex;
        margin-top: 3vh;
    }
    .contact .email{
        display: flex;
    }
    .contact .right-column .text{
        text-align: center;
    }
    .contact .text{
        color: white;
        font-size: 3vh;
        font-weight: 600;
        margin: 2vh 0;
    }
    .contact .head{
        color: white;
        font-size: 2.4vh;;
        font-weight: 600;
    }
    .contact .sub-title{
        color: white;
        font-size: 2.2vh;
        margin-top: 1vh;
        margin-bottom: 8vh;
        line-height: 2.5vh;
    }
    .contact .sub-title span::before{
        content: "\A";
        white-space: pre;
    }
    .contact .form-name-email{
        display: block;
    }
    .contact .form-name{
        width: 100%;
    }
    .contact .form-email{
        width: 100%;
    }
    .contact .form-name input{
        width: 95%;
        font-size: 2.2vh;
        padding: 0.3rem;
        border: 0.19rem solid rgb(61, 102, 102);
        border-radius: 0.5rem;
    }
    .contact .form-email input{
        width: 95%;
        font-size: 2.2vh;
        padding: 0.3rem;
        border: 0.19rem solid rgb(61, 102, 102);
        border-radius: 0.5rem;
    }
    .contact .form-subject input{
        font-size: 2.2vh;
        padding: 0.3rem;
        width: 95%;
        margin: 0.7rem 0;
        border: 0.19rem solid rgb(61, 102, 102);
        border-radius: 0.5rem;
    }
    .contact .form-message textarea{
        font-size: 2.2vh;
        padding: 0.3rem;
        width: 95%;
        border: 0.19rem solid rgb(61, 102, 102);
        border-radius: 0.5rem;
    }
    .contact .button{
        display: block;
        font-size: 2.2vh;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    .contact .button:hover{
        background-color: #131325;
        color: red;
    }
    .contact .button{
        margin-bottom: 5vh;
    }

    /* Footer */
    .copyright{
        font-size: 1.7vh;
        padding-top: 0.9vh;
    }
}