/* Background color used in the 'home', 'skills', and 'contact' sections */
html {
    background: #000029;
}

body {
    margin: 0;
}

/* Applies to each section */
.segment {
    margin: auto 0;
    /* Prevents text from being overlapped by the notch (if the device has a notch) */
    padding-right: calc(1vw + env(safe-area-inset-right));
    padding-left: calc(1vw + env(safe-area-inset-left));
}
/* The h2 header of each section */
.title {
    color: white;
    text-align: center;
    font-size: 4.8vw;
}


/* 
** navigation bar styling
*/
.navbar {
    width: 100%;
    /* It does not move when the page is scrolled */
    position: fixed;
    padding: 1vw 0;
    background: #252d53;
    font: Arial;
    /* Sets to the highest position order of any attribute on this website */
    z-index: 1;
}
/* Applies to the elements in the navbar section */
.navbar .segment {
    /* Sets the introduction and the list of navigation links on the same line */
    display: flex;
    /* Vertically centers the introduction within the navigation bar */ 
    align-items: center;
    /* Separates the introduction and list of navigation links on opposite ends of the navigation bar */
    justify-content: space-between;
    margin: 0 auto;
}
/* The introduction part of the navigation bar: 'Welcome to my Portfolio' */
.navbar .intro a {
    color: white;
    font-size: 3vw;
    font-weight: 600;
}
/* The word 'Portfolio' of the introduction */
.navbar .intro a span {
    color: red;
}
/* The navigation links */
.navbar .menu-1 li {
    display: inline-block;
}
/* The navigation links for small landscape orientation are hidden */
.navbar .menu-2 {
    position: absolute;
    color: transparent;
    display: none;
    z-index: -1;
}
/* The navigation links for portrait orientation are hidden */
.navbar .menu-3 {
    position: absolute;
    color: transparent;
    display: none;
    z-index: -1;
}
/* The navigation links for small portrait orientation are hidden */
.navbar .menu-4 {
    position: absolute;
    color: transparent;
    display: none;
    z-index: -1;
}
/* The navigation links for very small portrait orientation are hidden */
.navbar .menu-5 {
    position: absolute;
    color: transparent;
    display: none;
    z-index: -1;
}
/* Sets the navigation links' size and removes the default decoration */
.navbar .menu-1 li a {
    color: white;
    text-decoration: none;
    font-size: 1.8vw;
    margin-right: 1.8vw;
}

/*
** home section styling 
*/
.home {
    display: flex;
    height: 100vh;
    color: #fff;
    font: Verdana;
}
.home .segment {
    margin: auto;
}
.home .home-text {
    text-align: center;
}
/* 1st line of text ('Hello, my name is') */
.home .home-text .text-1 {
    color: white;
    font-size: 2vw;
}
/* 2nd line of text ('Zachary Bournand') */
.home .home-text .text-2 {
    color: white;
    font-size: 6vw;
    font-weight: 550;
    margin: 1.7vw 0;
}
/* 3rd line of text */
.home .home-text .text-3 {
    color: white;
    font-size: 2.5vw;
}
.home .home-text .text-3 span { 
    color: red;
    font-weight: 550;   
}
/* Applies to the 2 icons: LinkedIn & GitHub */
.home-icons {
    text-align: center;
    margin-top: 7vw;
}
.home img {
    width: 3vw;
    height: 3vw;
    margin: 0 4vw;
    /* Occurs when the mouse hovers over one of the 2 icons */
    transition: .5s;
}

/* 
** about section styling 
*/
.about {
    margin-bottom: 6vw;
    background-color: #000e3b;
    padding-top: .7vw;
    padding-bottom: 5vw;
}
.about .segment {
    margin: 0 auto;
}
/* Separates the left column to the left & the right column to the right */
.about .about-image-text {
    display: flex;
    width: 100%;
}
/* The left column contains the profile picture */
.about .left-column {
    width: 35vw;
    text-align: end;
    padding-right: 1.5vw;
}
.about .left-column img {
    height: 20vw;
    width: 20vw;
    margin-top: 1.5vw;
}
/* The right column contains the text and button */
.about .right-column {
    width: 90vw;
    margin-right: 8vw;
}
.about .text {
    color: white;
    font: Verdana;
}
/* Contains the list */
.about .right-column .text-1 {
    color: rgba(255, 255, 255, 0.87);
    font: Verdana;
    font-size: 1.8vw;
    line-height: 2.7vw;
    margin-top: 1vw;
    margin-bottom: .9vw;
}
.about .right-column .text-1 li {
    margin-bottom: 2.7vw;
}
/* The dates are each listed under each bullet point in the list */
.dates{
    color: rgba(255, 255, 255, 0.568);
}
.about .right-column .text-3 {
    color: rgba(255, 255, 255, 0.87);
    font: Verdana;
    font-size: 1.8vw;
    line-height: 2.7vw;
    margin-top: 0.6vw;
    margin-bottom: .9vw;
}
/* The button */
.about .about-image-text .right-column a {
    display: inline-block;
    text-decoration: none;
    background: red;
    color: #fff;
    font-size: 1.8vw;
    font-weight: 500;
    padding: .6vw 1.5vw;
    margin-top: 2vw;
    border-radius: .5vw;
    border: 0.1vw solid red;
    transition: all 0.3s ease;
}
/* Style change when the mouse hovers over the button */
.about .about-image-text .right-column a:hover {
    color: red;
    text-decoration: none;
    background: none;
}

/* 
** skills section styling 
*/
.skills {
    margin-bottom: 7vw;
}
.skills .segment {
    margin: 0 auto;
}
/* Separates the 3 types of skills (front-end, back-end, DBMS) on the same line */
.skills .skills-list {
    display: flex;
    justify-content: space-between;
    padding: 0 5vw;
    text-align: center;
}
/* Elements inside the div containing the list of front-end skills 
change style when the mouse hovers over it */
.skills .skills-list .skills-list-front:hover {
    background: black;
    width: 30%;
    border-radius: 1vw;
    transition: 0.2s;
}
/* Elements inside the div containing the list of back-end skills 
change style when the mouse hovers over it */
.skills .skills-list .skills-list-back:hover {
    background: black;
    width: 30%;
    border-radius: 1vw;
    transition: 0.2s;
}
/* Elements inside the div containing the list of DBMS skills 
change style when the mouse hovers over it */
.skills .skills-list .skills-list-dbms:hover {
    background: black;
    width: 29%;
    border-radius: 1vw;
    transition: 0.2s;
}
/* Applies to the headers for each list of skills */
.skills .skills-list h3 {
    color: white;
    font-style: serif;
    font-size: 2.5vw;
    /* Underlines the headers */
    text-decoration: underline;
    /* Sets the underline right under the header */
    text-underline-offset: 1.4vw;
    /* Thickens the underline */
    text-decoration-thickness: 0.7vw;
    /* Sets the underline color to red */
    text-decoration-color: red;
}
/* Applies to each specific skill listed across all the lists */
.skills .skills-list li {
    color: rgb(197, 197, 197);
    font-style: proxima nova;
    font-size: 1.8vw;
    font-weight: 600;
    margin: 4vw; 
    text-align: center;
    text-decoration: none;
    list-style-type: none;
}

/* 
** projects section styling 
*/
.projects {
    text-align: center;
    background-color: #000e3b;
    padding-top: 4vw;
    padding-bottom: 2vw;
}
/* Centers the div containing the project 1 image */
.project-1 {
    height: 40vw;
    width: 78.36vw;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 9vw;
    border: 0.3vw solid rgb(56, 80, 80);
}
/* Centers the div containing the project 2 image */
.project-2 {
    height: 40vw;
    width: 78.36vw;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5vw;
    margin-bottom: 5vw;
    border: 0.19vw solid rgb(74, 87, 87);
}
/* Removes the project 1 image from the normal document flow.
/* However, it is contained within the div class 'project-1' */
#project-omedocs {
    height: 40vw;
    width: 78.36vw;
    left: 0;
    position: absolute;
    /* Transition for hovering */
    transition: 1s;
}
/* Removes the project 2 image from the normal document flow.
/* However, it is contained within the div class 'project-2' */
#project-movie-search-engine {
    height: 40vw;
    width: 78.36vw;
    left: 0;
    position: absolute;
    /* Transition for hovering */
    transition: 1s;
}
/* Applies to the project 1 description that displays when the mouse hovers over the project image */
.project-text-container-1 {
    position: absolute;
    color: white;
    height: 80%;
    width: 80%;
    top: 10%;
    left: 10%;
    display: flex;
    /* Centers vertically */
    align-items:center;
    color: black;
    /* Hides it */
    visibility: hidden;
}
/* Applies to the project 2 description that displays when the mouse hovers over the project image */
.project-text-container-2 {
    position: absolute;
    color: white;
    height: 80%;
    width: 80%;
    top: 10%;
    left: 10%;
    display: flex;
    /* Centers vertically */
    align-items:center;
    color: black;
    /* Hides it */
    visibility: hidden;
}
/* Applies to the project section's title 'My projects' */
.projects .title {
    font-size: 4.8vw;
    margin-top: 0;
    margin-bottom: 2vw;
    color: white;
}
/* Applies to the name of project 1 that is only displayed if the mouse hovers over the project 1 image */
.project-text-1 h2 {
    font-size: 4vw;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 2vw;
    color: white;
}
/* Applies to the name of project 2 that is only displayed if the mouse hovers over the project 2 image */
.project-text-2 h2 {
    font-size: 4vw;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 2vw;
    color: white;
}
/* Applies to the short set of information containing the team size, my roles, and languages (located right underneath the project name) */
.projects h3 {
    font-size: 1.8vw;
    margin-bottom: 2.5vw;
    line-height: 3vw;
    color: rgba(255, 255, 255, 0.815);
}
/* Applies to the paragraphs describing each project */
.projects .paragraph-1 {
    font-size: 2.1vw;
    text-align: left;
    line-height: 3vw;
    color: white;
    margin-bottom: 3vw;
}
/* Hides the shorter paragraph describing each project (only meant for portrait orientation) */
.projects .paragraph-2 {
    position: absolute;
    color: transparent;
    display: none;
    z-index: -1;
}
/* Aligns each hyperlink item on the same line (for project 1) */
.project-1-links {
    display: flex;
    align-items: center;
}
/* Aligns each hyperlink item on the same line (for project 2) */
.project-2-links {
    display: flex;
    align-items: center;
}
/* Applies to the GitHub logo that links to the project 1 repository */
.project-1 #github {
    width: 2.5vw;
    height: 2.5vw;
    margin-right: 2.5vw;
    transition: .5s;
}
/* Applies to the GitHub logo that links to the project 2 repository */
.project-2 #github {
    width: 2.5vw;
    height: 2.5vw;
    margin-right: 2.5vw;
    transition: .5s;
}
/* Applies to the hyperlink 'View site' to view project 1's website */
.project-link-text-1 {
    font-size: 2vw;
    font-weight: bold;
    text-shadow: none;
    color: rgba(135, 206, 250, 0.733);
    transition: .5s;
}
/* Color of the 'View site' hyperlink's underline */
.project-1 a {
    text-decoration-color: rgba(135, 206, 250, 0.733);
}

/* 
** contact section styling 
*/
.contact {
    margin-top: 7vw;
}
.contact .segment {
    margin: 0 auto;
}
/* Aligns the left and right columns on the same line */
.contact-info {
    display: flex;
    margin: 0 auto;
}
/* Contains the information 'Get in Touch', which includes my name & email address */
.contact .left-column {
    width: 50%;
    /* Leaves a space between the screen's border and the text */
    padding-left: 2vw;
}
/* Contains the form to send me a message */
.contact .right-column {
    width: 80%;
}
/* My name given in the left column */
.contact .name {
    margin-top: 2.5vw;
}
/* My email given in the left column */
.contact .email {
    display: flex;
}
/* Applies to 'Get in Touch' in the left column */
.contact .text {
    color: white;
    font-size: 3vw;
    font-weight: 600;
    margin: 2vw 0;
}
/* Applies to 'Name' & 'Email' in the left column, which explain the type of information that is given */ 
.contact .head {
    color: white;
    font-size: 2vw;
    font-weight: 600;
}
/* Applies to my name & email information in the left column */ 
.contact .sub-title {
    color: white;
    font-size: 2vw;
    margin-top: 1vw;
    margin-bottom: 6vw;
}
/* Aligns the name and email fields */
.contact .form-name-email {
    display: flex;
}
.contact .form-name {
    width: 100%;
}
.contact .form-email {
    width: 100%;
}
.contact .form-name input {
    width: 94%;
    font-size: 1.8vw;
    padding: 0.4vw;
    border: 0.3vw solid rgb(61, 102, 102);
    border-radius: 1vw;
}
.contact .form-email input {
    width: 94%;
    font-size: 1.8vw;
    padding: 0.4vw;
    border: 0.3vw solid rgb(61, 102, 102);
    border-radius: 1vw;
}
.contact .form-subject input {
    font-size: 1.8vw;
    padding: 0.4vw;
    width: 97%;
    margin: 0.7rem 0;
    border: 0.3vw solid rgb(61, 102, 102);
    border-radius: 1vw;
}
.contact .form-message textarea {
    font-size: 1.8vw;
    padding: 0.4vw;
    width: 97%;
    border: 0.3vw solid rgb(61, 102, 102);
    border-radius: 1vw;
}
.contact .button {
    color: #fff;
    font-size: 1.8vw;
    width: 15vw;
    background: red;
    padding: 0.6vw;
    margin-top: 1vw;
    margin-bottom: 7vw;
    border: 0.1vw solid red;
    border-radius: 0.5vw;
}

/* Footer */
.footer {
    background-color:rgba(25, 51, 51, 0.733);
    height: 3vw;
}
.footer .segment {
    height: 100%;
}
/* Applies to the footer text 'Copyright © 2023 Zachary Bournand' */
.copyright {
    color: white;
    font-size: 1.5vw;
    text-align: center;
    padding-top: .5vw;
}


/* 
** Accomodates screens with high aspect ratios (in landscape orientation) 
*/
/* Vertically aligns the text and icons in the home section */
@media (min-aspect-ratio: 653/350) {
    .home .segment {
        margin: 30vh auto;
    }
    .home-icons {
        text-align: center;
        margin-top: 7vh;
    }
}


/*
** Accommodates screens with a low height (in landscape orientation) 
*/
@media (max-height: 391px) and (orientation: landscape) {
    .home .segment {
        margin-top: 15vw;
    }
}


@media (max-width: 700px) and (orientation: landscape) {
    /* Applies to every section's header */
    .title {
        font-size: 9vw;
        margin-top: 4vw;
        margin-bottom: 3vw;
    }

    /* 
    ** navigation bar styling
    */
    .navbar {
        position: initial;
    }
    .navbar .segment{
        display: grid;
        justify-content: center;
    }
    .navbar .intro {
        margin-top: 1vw;
        text-align: center;
    }
    /* The introduction part of the navigation bar: 'Welcome to my Portfolio' */
    .navbar .intro a {
        font-size: 8vw;
    }
    /* The navigation links for landscape orientation are hidden */
    .navbar .menu-1{
        position: absolute;
        color: transparent;
        display: none;
        z-index: -1;
    }
    /* The navigation links for small landscape orientation are displayed */
    .navbar .menu-2 {
        display: block;
        position: relative;
        padding-left: 0;
        margin-top: 3vw;
        margin-bottom: 2vw;    
        z-index: 1;
    }
    /* The navigation links for portrait orientation are hidden */
    .navbar .menu-3 {
        position: absolute;
        color: transparent;
        display: none;
        z-index: -1;
    }
    /* The navigation links for small portrait orientation are hidden */
    .navbar .menu-4 {
        position: absolute;
        color: transparent;
        display: none;
        z-index: -1;
    }
    /* The navigation links for very small portrait orientation are hidden */
    .navbar .menu-5 {
        position: absolute;
        color: transparent;
        display: none;
        z-index: -1;
    }
    /* The navigation links */
    .navbar .menu-2 li {
        display: inline-block;
    }
    /* Displays the navigation links for portrait orientation */
    .navbar .menu-2 li a {
        font-size: 4vw;
        margin-left: 2.5vw;
        margin-right: 2.5vw;
        color: white;
        text-decoration: none;
    }

    /*
    ** home section styling 
    */
    .home {
        height: 53vw;
    }
    .home .segment {
        margin-top: 1vw;
    }
    /* 1st line of text ('Hello, my name is') */
    .home .home-text .text-1 {
        font-size: 5vw;
    }
    /* 2nd line of text ('Zachary Bournand') */
    .home .home-text .text-2 {
        font-size: 9vw;
        margin: 3vw 0;
    }
    /* 3rd line of text */
    .home .home-text .text-3 {
        font-size: 5.3vw;
    }
    .home-icons {
        margin-top: 5vw;
    }
    /* Applies to the 2 icons: LinkedIn & GitHub */
    .home img {
        width: 7vw;
        height: 7vw;
        margin: 0 8vw;
    }
    /* Leaves the LinkedIn icon unchanged when clicked on or hovered over */
    .home #linkedin:hover {
        width: 7vw;
        height: 7vw;
        margin: 0 8vw;
    }
    /* Leaves the GitHub icon unchanged when clicked on or hovered over */
    .home #github:hover {
        width: 7vw;
        height: 7vw;
        margin: 0 8vw;
    }

    /* 
    ** about section styling 
    */
    /* Separates the left column above & the right column under */
    .about .about-image-text{
        display: grid;
        justify-content: center;   
    }
    .about .left-column {
        width: 100%;
        text-align: center;
        padding-right: 0;
    }
    .about .left-column img {
        height: 40vw;
        width: 40vw;
    }
    .about .right-column .text-1 {
        font-size: 5vw;
        line-height: 7vw;
        margin-top: 1vw;
        margin-bottom: 2vw;
    }
    .about .right-column .text-1 li {
        margin-bottom: 7vw;
    }
    .about .right-column .text-3 {
        font-size: 5vw;
        line-height: 7vw;
        margin-left: 3vw;
        margin-bottom: 2vw;
    }
    /* The button */
    .about .about-image-text .right-column a {
        font-size: 5vw;
        margin-left: 3vw;
        margin-bottom: 4vw;
        padding: 1vw 3vw;
        border-radius: 1vw;
    }

    /* 
    ** skills section styling 
    */
    .skills .skills-list {
        text-align: center;
        padding: 0;
    }
    /* The headers of each list of skills */
    .skills .skills-list h3 {
        text-decoration: none;
        font-size: 5vw;
        margin-top: 1vw;
        margin-bottom: 7vw;        
    }
    /* Puts the last word of the first 2 list headers on the next line */
    .skills-list span::before {
        content: "\A";
        white-space: pre;
    }
    /* Underlines the first 2 headers */
    .skills-list span {
        margin-top: 8vw;
        text-decoration: underline;
        text-underline-offset: 3vw;
        text-decoration-thickness: 2vw;
        text-decoration-color: red;
    }
    /* Applies to each specific skill listed across all the lists */
    .skills .skills-list li {
        font-size: 4.5vw;
    }
    /* Sets the 3rd header on the same line as the last word of the first 2 headers */
    .skills .skills-list .dbms::before{
        content: "\A";
        white-space: pre;
    }
    /* Underlines the 3rd header */
    .skills .skills-list .dbms {
        text-decoration: underline;
        text-underline-offset: 3vw;
        text-decoration-thickness: 2vw;
        text-decoration-color: red;
    }
    /* Elements inside the div containing the list of front-end skills 
    change style when the mouse hovers over it */
    .skills .skills-list .skills-list-front:hover {
        width: 34%;
    }
    /* Elements inside the div containing the list of back-end skills 
    change style when the mouse hovers over it */
    .skills .skills-list .skills-list-back:hover {
        width: 34%;
    }
    /* Elements inside the div containing the list of DBMS skills 
    change style when the mouse hovers over it */
    .skills .skills-list .skills-list-dbms:hover {
        width: 34%;
    }

    /* 
    ** projects section styling 
    */
    .projects .title {
        font-size: 9vw;
        margin-top: 2vw;
        margin-bottom: 3vw;
    }
    .project-1 {
        height: 45vw;
        width: 88.155vw;
    }
    .project-2 {
        height: 45vw;
        width: 88.155vw;
    }
    /* Project 1 image */
    #project-omedocs {
        height: 45vw;
        width: 88.155vw;
    }
    /* Project 2 image */
    #project-movie-search-engine {
        height: 45vw;
        width: 88.155vw;
    }
    /* The name of project 1 */
    .project-text-1 h2 {
        font-size: 7vw;
    }
    /* The name of project 2 */
    .project-text-2 h2 {
        font-size: 7vw;
    }
    /* The short set of information containing the team size, my roles, and languages (located right underneath the project name) */
    .projects h3 {
        font-size: 3.3vw;
        margin-bottom: 2.5vw;
        line-height: 4vw;
    }
    /* Hides the bigger paragraphs describing each project (used in landscape orientation) */
    .projects .paragraph-1 {
        position: absolute;
        color: transparent;
        display: none;
        z-index: -1;
    }
    /* Displays the smaller paragraphs describing each project */
    .projects .paragraph-2 {
        display: block;
        position: static;
        text-align: center;
        font-size: 5vw;
        line-height: 5vw;
        color: white;
        margin-bottom: 5vw;
    }
    /* The GitHub logo that links to the project 1 repository */
    .project-1 #github {
        width: 5vw;
        height: 5vw;
        margin-right: 5vw;
    }
    /* The GitHub logo that links to the project 2 repository */
    .project-2 #github {
        width: 5vw;
        height: 5vw;
    }
    /* The hyperlink 'View site' to view project 1's website */
    .project-link-text-1 {
        font-size: 4.3vw;
        text-shadow: none;
    }
    /* Prevents a GitHub logo style change when clicked on or hovered over */
    .project-1 #github:hover {
        width: 5vw;
        height: 5vw;
        margin-right: 5vw;
    }
    /* Prevents a GitHub logo style change when clicked on or hovered over */
    .project-2 #github:hover {
        width: 5vw;
        height: 5vw;
    }
    /* Prevents a hyperlink style change when clicked on or hovered over */
    .project-link-text-1:hover {
        font-size: 4.3vw;
        text-shadow: none;
    }

    /* 
    ** contact section styling 
    */
    .contact .text {
        font-size: 6vw;
    }
    .contact .right-column {
        width: 46%;
    }
    /* Applies to 'Name' & 'Email' in the left column, which explain the type of information that is given */
    .contact .head {
        font-size: 5vw;
    }
    /* Applies to my name & email information in the left column */
    .contact .sub-title {
        color: white;
        font-size: 5vw;
        margin-top: 1vw;
        margin-bottom: 6vw;
    }
    /* Places the last few words 'gmail.com' of my email information on the next line */
    .contact .sub-title span::before{
        content: "\A";
        white-space: pre;
    }
    /* Sets the name field above & the email field under */
    .contact .form-name-email {
        display: grid;
        justify-content: center;    
    }
    .contact .form-name {
        margin-bottom: 3vw;
    }
    .contact .form-name input {
        font-size: 5vw;
        width: 100%;
    }
    .contact .form-email input {
        font-size: 5vw;
        width: 100%;
    }
    .contact .form-subject input {
        font-size: 5vw;
        width: 100%;
    }
    .contact .form-message textarea {
        font-size: 5vw;
        width: 100%;
    }
    /* Centers the button within the right column */
    .contact .button {
        display: flex;
        margin-right: auto;
        margin-left: auto;
        font-size: 5vw;
        width: 41vw;
        padding: 1vw 3vw;
        border-radius: 1vw;
    }

    /* 
    ** footer section styling 
    */
    .footer {
        height: 6vw;
    }
    /* Applies to the footer text 'Copyright © 2023 Zachary Bournand' */
    .copyright {
        font-size: 3.5vw;
        padding-top: 0.8vw;
    }
}


/* 
** Media responsive design for portrait orientation 
*/
@media (orientation: portrait) {
    /* Applies to every section's header */
    .title {
        font-size: 9vw;
        margin-top: 4vw;
        margin-bottom: 3vw;
    }

    /* 
    ** navigation bar styling
    */
    .navbar .segment{
        display: grid;
        justify-content: center;
    }
    /* The introduction part of the navigation bar: 'Welcome to my Portfolio */
    .navbar .intro a {
        font-size: 9vw;
    }
    /* The navigation links for landscape orientation are hidden */
    .navbar .menu-1{
        position: absolute;
        color: transparent;
        display: none;
        z-index: -1;
    }
    /* The navigation links for small landscape orientation are hidden */
    .navbar .menu-2 {
        position: absolute;
        color: transparent;
        display: none;
        z-index: -1;
    }
    /* The navigation links for portrait orientation are displayed */
    .navbar .menu-3 {
        display: block;
        position: relative;
        padding-left: 0;
        z-index: 1;
        margin-bottom: 3vw;
    }
    /* The navigation links for small portrait orientation are hidden */
    .navbar .menu-4 {
        position: absolute;
        color: transparent;
        display: none;
        z-index: -1;
    }
    /* The navigation links for very small portrait orientation are hidden */
    .navbar .menu-5 {
        position: absolute;
        color: transparent;
        display: none;
        z-index: -1;
    }
    /* The navigation links */
    .navbar .menu-3 li {
        display: inline-block;
    }
    /* Displays the navigation links for portrait orientation */
    .navbar .menu-3 li a {
        font-size: 5vw;
        margin-left: 2.5vw;
        margin-right: 2.5vw;
        color: white;
        text-decoration: none;
    }

    /*
    ** home section styling 
    */
    .home {
        height: 95vw;
    }
    .home .segment {
        margin-top: 34vw;
    }
    /* 1st line of text ('Hello, my name is') */
    .home .home-text .text-1 {
        font-size: 5vw;
    }
    /* 2nd line of text ('Zachary Bournand') */
    .home .home-text .text-2 {
        font-size: 9vw;
        margin: 5vw 0;
    }
    /* 3rd line of text */
    .home .home-text .text-3 {
        font-size: 5.5vw;
    }
    /* Applies to the 2 icons: LinkedIn & GitHub */
    .home img {
        width: 7vw;
        height: 7vw;
        margin: 0 8vw;
    }

    /* 
    ** about section styling 
    */
    /* Separates the left column above & the right column under */
    .about .about-image-text{
        display: grid;
        justify-content: center;   
    }
    .about .left-column {
        width: 100%;
        text-align: center;
        padding-right: 0;
    }
    .about .left-column img {
        height: 40vw;
        width: 40vw;
    }
    .about .right-column .text-1 {
        font-size: 5vw;
        line-height: 7vw;
        margin-top: 1vw;
        margin-bottom: 2vw;
    }
    .about .right-column .text-1 li {
        margin-bottom: 7vw;
    }
    .about .right-column .text-3 {
        font-size: 5vw;
        line-height: 7vw;
        margin-left: 3vw;
        margin-bottom: 2vw;
    }
    /* The button */
    .about .about-image-text .right-column a {
        font-size: 5vw;
        margin-left: 3vw;
        margin-bottom: 4vw;
        padding: 1vw 3vw;
        border-radius: 1vw;
    }

    /* 
    ** skills section styling 
    */
    .skills .skills-list {
        text-align: center;
        padding: 0;
    }
    /* The headers of each list of skills */
    .skills .skills-list h3 {
        text-decoration: none;
        font-size: 5vw;
        margin-top: 1vw;
        margin-bottom: 7vw;        
    }
    /* Puts the last word of the first 2 list headers on the next line */
    .skills-list span::before {
        content: "\A";
        white-space: pre;
    }
    /* Underlines the first 2 headers */
    .skills-list span {
        margin-top: 8vw;
        text-decoration: underline;
        text-underline-offset: 3vw;
        text-decoration-thickness: 2vw;
        text-decoration-color: red;
    }
    /* Applies to each specific skill listed across all the lists */
    .skills .skills-list li {
        font-size: 4.5vw;
    }
    /* Sets the 3rd header on the same line as the last word of the first 2 headers */
    .skills .skills-list .dbms::before{
        content: "\A";
        white-space: pre;
    }
    /* Underlines the 3rd header */
    .skills .skills-list .dbms {
        text-decoration: underline;
        text-underline-offset: 3vw;
        text-decoration-thickness: 2vw;
        text-decoration-color: red;
    }
    /* Elements inside the div containing the list of front-end skills 
    change style when the mouse hovers over it */
    .skills .skills-list .skills-list-front:hover {
        width: 34%;
    }
    /* Elements inside the div containing the list of back-end skills 
    change style when the mouse hovers over it */
    .skills .skills-list .skills-list-back:hover {
        width: 34%;
    }
    /* Elements inside the div containing the list of DBMS skills 
    change style when the mouse hovers over it */
    .skills .skills-list .skills-list-dbms:hover {
        width: 34%;
    }

    /* 
    ** projects section styling 
    */
    .projects .title {
        font-size: 9vw;
        margin-top: 2vw;
        margin-bottom: 3vw;
    }
    .project-1 {
        height: 45vw;
        width: 88.155vw;
    }
    .project-2 {
        height: 45vw;
        width: 88.155vw;
    }
    /* Project 1 image */
    #project-omedocs {
        height: 45vw;
        width: 88.155vw;
    }
    /* Project 2 image */
    #project-movie-search-engine {
        height: 45vw;
        width: 88.155vw;
    }
    /* The name of project 1 */
    .project-text-1 h2 {
        font-size: 7vw;
    }
    /* The name of project 2 */
    .project-text-2 h2 {
        font-size: 7vw;
    }
    /* The short set of information containing the team size, my roles, and languages (located right underneath the project name) */
    .projects h3 {
        font-size: 3.3vw;
        margin-bottom: 2.5vw;
        line-height: 4vw;
    }
    /* Hides the bigger paragraphs describing each project (used in landscape orientation) */
    .projects .paragraph-1 {
        position: absolute;
        color: transparent;
        display: none;
        z-index: -1;
    }
    /* Displays the smaller paragraphs describing each project */
    .projects .paragraph-2 {
        display: block;
        position: static;
        text-align: center;
        font-size: 5vw;
        line-height: 5vw;
        color: white;
        margin-bottom: 5vw;
    }
    /* The GitHub logo that links to the project 1 repository */
    .project-1 #github {
        width: 5vw;
        height: 5vw;
        margin-right: 5vw;
    }
    /* The GitHub logo that links to the project 2 repository */
    .project-2 #github {
        width: 5vw;
        height: 5vw;
    }
    /* The hyperlink 'View site' to view project 1's website */
    .project-link-text-1 {
        font-size: 4.3vw;
        text-shadow: none;
    }

    /* 
    ** contact section styling 
    */
    /* Applies to 'Get in Touch' in the left column */
    .contact .text {
        font-size: 6vw;
    }
    .contact .right-column {
        width: 46%;
    }
    /* Applies to 'Name' & 'Email' in the left column, which explain the type of information that is given */
    .contact .head {
        font-size: 5vw;
    }
    /* Applies to my name & email information in the left column */
    .contact .sub-title {
        color: white;
        font-size: 5vw;
        margin-top: 1vw;
        margin-bottom: 6vw;
    }
    /* Places the last few words 'gmail.com' of my email information on the next line */
    .contact .sub-title span::before{
        content: "\A";
        white-space: pre;
    }
    /* Sets the name field above & the email field under */
    .contact .form-name-email {
        display: grid;
        justify-content: center;    
    }
    .contact .form-name {
        margin-bottom: 3vw;
    }
    .contact .form-name input {
        font-size: 5vw;
        width: 100%;
    }
    .contact .form-email input {
        font-size: 5vw;
        width: 100%;
    }
    .contact .form-subject input {
        font-size: 5vw;
        width: 100%;
    }
    .contact .form-message textarea {
        font-size: 5vw;
        width: 100%;
    }
    /* Centers the button within the right column */
    .contact .button {
        display: flex;
        margin-right: auto;
        margin-left: auto;
        font-size: 5vw;
        width: 41vw;
        padding: 1vw 3vw;
        border-radius: 1vw;
    }

    .footer {
        height: 6vw;
    }
    /* Applies to the footer text 'Copyright © 2023 Zachary Bournand' */
    .copyright {
        font-size: 3.5vw;
        padding-top: 0.8vw;
    }
}


/* 
** Accommodates screens with low aspect ratios (in portrait orientation) 
*/
@media (max-aspect-ratio: 306/653) {
    /* Reduces the size of the navigation links */
    .navbar .menu-3 li a {
        font-size: 4.8vw;
    }
}


/*
** Accommodates screens with a low width (in portrait orientation) 
*/
@media (max-width: 350px) and (orientation: portrait) {
    .navbar .menu-3 li a {
        margin-left: 2.3vw;
        margin-right: 2.3vw;
    }

    
}


/*
** Accommodates screens with an even lower maximum width (in portrait orientation) 
*/
@media (max-width: 340px) and (orientation: portrait) {
    /* The navigation links for landscape orientation are hidden */
    .navbar .menu-1 {
       position: absolute;
       color: transparent;
       display: none;
       z-index: -1;
   }
   /* The navigation links for small landscape orientation are hidden */
    .navbar .menu-2 {
        position: absolute;
        color: transparent;
        display: none;
        z-index: -1;
    }
   /* The navigation links for bigger portrait orientation are hidden */
   .navbar .menu-3 {
       position: absolute;
       color: transparent;
       display: none;
       z-index: -1;
   }
    /* The navigation links for small portrait orientation are displayed */
    .navbar .menu-4 {
        display: block;
        position: relative;
        padding-left: 0;
        z-index: 1;
        margin-bottom: 3vw;
    }
   /* The navigation links for very small portrait orientation are hidden */
   .navbar .menu-5 {
       position: absolute;
       color: transparent;
       display: none;
       z-index: -1;
   }
   /* The navigation links */
   .navbar .menu-4 li {
       display: inline-block;
   }
    /* Sets the navigation links' size and removes the default decoration */
    .navbar .menu-4 li a {
        font-size: 5vw;
        margin-left: 2.3vw;
        margin-right: 2.3vw;
        color: white;
        text-decoration: none;
    }
}


/*
** Accommodates screens with very low width (in portrait orientation)
*/
@media (max-width: 267px) and (orientation: portrait) {
     /* The navigation links for landscape orientation are hidden */
     .navbar .menu-1 {
        position: absolute;
        color: transparent;
        display: none;
        z-index: -1;
    }
    /* The navigation links for small landscape orientation are hidden */
    .navbar .menu-2 {
        position: absolute;
        color: transparent;
        display: none;
        z-index: -1;
    }
    /* The navigation links for bigger portrait orientation are hidden */
    .navbar .menu-3 {
        position: absolute;
        color: transparent;
        display: none;
        z-index: -1;
    }
    /* The navigation links for small portrait orientation are hidden */
    .navbar .menu-4 {
        position: absolute;
        color: transparent;
        display: none;
        z-index: -1;
    }
    /* The navigation links for very small portrait orientation are displayed */
    .navbar .menu-5 {
        display: block;
        position: relative;
        padding-left: 0;
        z-index: 1;
        margin-bottom: 3vw;
    }
    /* The navigation links */
    .navbar .menu-5 li {
        display: inline-block;
    }
    /* Sets the navigation links' size and removes the default decoration */
    .navbar .menu-5 li a {
        font-size: 5vw;
        margin-left: 2.3vw;
        margin-right: 2.3vw;
        color: white;
        text-decoration: none;
    }
}
